.navbar{
    height: 50px;
    background-color: rgba(38, 70, 83, 0.95);;
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

  }
  
  .logo{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color: #00D0D0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color: #00D0D0;
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  
background: #FC9702;
border-radius: 23px;
  }